{% assign i = include.index0 | default: 0 | modulo: 4 %}
{% if i == 0 %}
  {% assign sticker_tilt = "sticker-note--tilt-a" %}
  {% assign sticker_color = "sticker-note--cream" %}
{% elsif i == 1 %}
  {% assign sticker_tilt = "sticker-note--tilt-b" %}
  {% assign sticker_color = "sticker-note--blush" %}
{% elsif i == 2 %}
  {% assign sticker_tilt = "sticker-note--tilt-c" %}
  {% assign sticker_color = "sticker-note--sage" %}
{% else %}
  {% assign sticker_tilt = "sticker-note--tilt-d" %}
  {% assign sticker_color = "sticker-note--peach" %}
{% endif %}

<article class="sticker-note {{ sticker_tilt }} {{ sticker_color }} tool-sticker">
  <a class="tool-sticker__link" href="{% if tool.redirect %}{{ tool.redirect }}{% else %}{{ tool.url | relative_url }}{% endif %}">
    {% if tool.img %}
      <div class="tool-sticker__img">
        {%
          include figure.liquid
          loading="eager"
          path=tool.img
          sizes="250px"
          alt="tool thumbnail"
        %}
      </div>
    {% endif %}
    <h3 class="sticker-note__title">{{ tool.title }}</h3>
    {% if tool.description %}
      <p class="sticker-note__meta">{{ tool.description }}</p>
    {% endif %}
  </a>
  {% if tool.github or tool.demo_url %}
    <ul class="sticker-note__links">
      {% if tool.demo_url %}
        <li><a href="{{ tool.demo_url }}">Demo</a></li>
      {% endif %}
      {% if tool.github %}
        <li><a href="{{ tool.github }}">GitHub</a></li>
      {% endif %}
    </ul>
  {% endif %}
</article>
